@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-dark: #2f3b44;
  --color-text-accent: #3b3b3c;
  --color-text-primary-light: #eaeaea;
  --color-text-bold: #751a2b;
  --color-border-accent: #98c4ba;
  --color-bg-primary-light: #ffffff;

  --font-primary: "Outfit";
  --font-accent: "Baskervville"


}

